### FILE TO BE CONFIGURED MANUALLY ###

# Please comment out the constants related to other projects

# NUMBER OF SLICES:
NUMBER_OF_SLICES=3

# MOBILEDET:
# PROJECT_NAME="mobiledet"
# S3_BUCKET="onnx-mobiledet-bucket"
# IMAGE_FILE="img_resized.npy"
# EXECUTION_TIMEOUT=30
# FUNCTION_MEMORY=256

# EFFICIENTDET:
# PROJECT_NAME="efficientdet"
# S3_BUCKET="onnx-efficientdet-bucket"
# IMAGE_FILE="img_efficientdet.png"
# EXECUTION_TIMEOUT=30
# FUNCTION_MEMORY=1536

# RESNET50:
PROJECT_NAME="resnet50"
S3_BUCKET="onnx-resnet50-bucket"
IMAGE_FILE="helmet.npy"
EXECUTION_TIMEOUT=30
FUNCTION_MEMORY=1536
